<app-product-detail (sendProductData)="getProductData($event)"></app-product-detail>
<button type="button" 
        class="btn btn-primary btn-block btn-lg mb-5" 
        (click)="isAddProduct=true;"
        *ngIf="!isAddProduct"
        >Add Product
</button>

<app-product-add 
        *ngIf="isAddProduct" 
        (isAddProduct)="isAddProductChange($event)">
</app-product-add >
<table class="table table-striped table-dark" *ngIf="productLists.length">
  <thead class="">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody class="">
    <tr *ngFor="let item of productLists;let i=index">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ item.title}}</td>
      <td>{{ item.price}}</td>
      <td>{{item.stock}}</td>
      <td>{{item.totalPrice}}</td>
      <td><app-stock-status [productItem]="item"></app-stock-status></td>  

    </tr>

    <tr>
      <td></td>
      <td>Total</td>
      <td>Price Total : {{ getTotalPrice() }}</td>
      <td>Stock Total : {{ getTotalStock() }}</td>
      <td>Total : {{ getAllTotaloPrice() }}</td>
      <td>All Total : {{ getTotalPrice() + getTotalStock() +   getAllTotaloPrice() }}</td>
    </tr>

  </tbody>
</table>


