
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>
              <form class="form-signin"
                    [formGroup]="signInForm"    
                    (ngSubmit)="onFormSubmit()"
                    >
             

                <div class="form-group"
                     *ngIf="isEmailShow"
                >
                  <label for="">Email</label>
                  <input type="text"
                    class="form-control" 
                    name="email"
                    formControlName="email"
                    >
                    <div class="alert alert-danger" role="alert">
                        <strong></strong>
                    </div>

                    <div class="alert alert-danger mt-2" 
                        role="alert"
                        *ngIf="signInForm.get('email').errors?.required && signInForm.get('email').touched">
                        Email is required
                    </div>   
                    <div class="alert alert-danger mt-2" 
                        role="alert"
                        *ngIf="signInForm.get('email').errors?.email && !signInForm.get('email').pristine">
                        please enter valid Email form
                    </div>
                    <div class="alert alert-danger mt-2" 
                        role="alert"
                        *ngIf="signInForm.get('email').errors?.email && !signInForm.get('email').pristine">
                        please enter valid Email form
                    </div>
                    <div class="alert alert-danger mt-2" 
                        role="alert"
                        *ngIf="signInForm.get('email').errors?.validateEmailNotTaken && !signInForm.get('email').pristine">
                        please enter valid Email form
                    </div>
                </div>
                <button 
                        class="btn btn-primary"
                        (click)="next()">Next</button>
                <div class="form-group" *ngIf="isPasswordShow">
                    <label for="">Password</label>
                    <input type="password"
                      class="form-control" 
                      name="password"
                      formControlName="password"
                      >
                      <div 
                        *ngIf="isEmailShow"
                        class="alert alert-danger" role="alert">
                        <strong 
                            *ngIf="signInForm.get('email').errors?.required"
                            >Email is require</strong>
                    </div>
                  </div>
                  
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                <hr class="my-4">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


